body{background: cadetblue;
color: rgb(128, 4, 55);
}
.contenedor { background-color: aliceblue;
      width: 30%;
      height: 30%;
      text-align: center;
      position: absolute;
      margin: auto;
      inset: 0;
      border-style: double;
      border-radius: 8%;
      border-color: rgb(230, 19, 19);
      
}